In [5]:
import pandas as pd
twolist = [['minyoung',2304,19],['love',2355,50],['hello',2504,43]]
pd.DataFrame(twolist, columns=['name','number','age'], index=['1','2','3'])

       name  number  age
1  minyoung    2304   19
2      love    2355   50
3     hello    2504   43

In [4]:
type(pd.DataFrame(twolist))

pandas.core.frame.DataFrame